@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/** navbar **/
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  text-align: center;
}

.navbar::after {
  content: "";
  display: block;
  clear: both;
}

.nav-logo {
  float: left;
  height: 50px;
  width: 100px;
}

.logo {
  background-image: url(/assets/amazon_logo.png);
  height: 50px;
  width: 100%;
  background-size: cover;
}

.add-first {
  color: #cccccc;
  font-size: 0.75rem;
  font-weight: 100;
}

.nav-second {
  font-size: 15px;
}

.add-icon {
  float: right;
  text-align: center;
}

span {
  font-size: 0.75rem;
}

.nav-cart {
  font-size: 0.7rem;
  float: right;
}

.nav-cart i {
  font-size: 1.6rem;
}

/** bottom panel **/
.bottom-panel {
  height: 40px;
  background-color: #222f3d;
  color: white;
  text-align: center;
  white-space: nowrap;
}

.panel-options {
  display: inline-block;
  width: 70%;
  font-size: 0.85rem;
}

.panel-options p {
  display: inline;
  margin-left: 10px;
}

.shop-section {
  background-color: #e2e7e6;
  padding-bottom: 20px;
  text-align: center;
}

.box {
  display: inline-block;
  border-radius: 10px;
  height: 410px;
  width: 23%;
  background-color: white;
  padding: 15px 0px 15px;
  margin: 25px 1%;
  vertical-align: top;
}

h2 {
  font-size: 20px;
}

.box-img {
  height: 300px;
  border-radius: 10px;
  margin: 1rem 0;
  background-size: cover;
}

.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-content p {
  color: #007185;
  font-size: 14px;
}

/** footer **/
.foot-panel1 {
  background-color: #37475a;
  height: 50px;
  color: white;
  text-align: center;
  font-size: 0.85rem;
  line-height: 50px;
}

.foot-panel2 {
  background-color: #222f3d;
  color: white;
  height: 300px;
  text-align: center;
}

ul {
  margin-top: 30px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

ul li,
li a {
  display: block;
  text-decoration: none;
  list-style: none;
}

li a {
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
}

li a:hover {
  text-decoration: underline;
}

.foot-panel3 {
  border-top: 0.5px solid gray;
  height: 70px;
  background-color: #232f3e;
  text-align: center;
  line-height: 70px;
}

.foot-panel3 .logo {
  background-image: url(/assets/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100px;
  margin: 0 auto;
}

.foot-panel4 {
  background-color: #131a22;
  color: white;
  height: 70px;
  text-align: center;
  line-height: 1.5;
}

.pages a {
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
  margin-left: 5px;
}

.pages a:hover {
  text-decoration: underline;
}

.copyright {
  margin-top: 5px;
  font-size: 0.8rem;
}
