<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Cart</title>
    <script defer src="../js/cart.js"></script>
    <link rel="icon" href="/assets/miniLogo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/cart.css" />
  </head>
  <body>
    <div id="navbar-placeholder"></div>

    <div class="cart-container" style="margin: 20px"></div>
    <p class="total-price"></p>
    <button class="proceed-to-buy">Proceed to Buy</button>
    <script>
      fetch("/views/navbar.html")
        .then((response) => response.text())
        .then((data) => {
          document.getElementById("navbar-placeholder").innerHTML = data;
          const script = document.createElement("script");
          script.src = "../js/navbar.js";
          document.body.appendChild(script);
        })
        .catch((error) => {
          console.error("Error loading navbar:", error);
        });
    </script>
  </body>
</html>
